:root {
    --black: #170B18;
    --brown: #542C19;
    --lightBrown: #BA4E15;
    --orange: #F5AD40;
    --yellow: #FAE847;
    --beige: #FFEECA;
  }
  
@font-face {
    font-family:"ABCMaxiRoundVariable";  
    src: local("ABCMaxiRoundVariable"),
    url("ABCMaxiRoundVariable.ttf") format("truetype");

    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family:"DM_Sans-Regular";  
    src: local("DM_Sans-Regular"),
      url("DMSans-Regular.ttf") format("truetype");

    font-weight: normal;
    font-style: normal;
}

h1 {
    font-family: "ABCMaxiRoundVariable";
    font-size:  70px;
    color: var(--orange);
    padding-right: 5%;
}

.header2 {
    font-family: "ABCMaxiRoundVariable";
    font-size: 45px;
    text-align: center;
    margin-bottom: 0px;
}

.important-info .header2 {
    color: var(--beige);
    padding-top: 3%;
}
.sponsors .header2 {
    color: var(--brown);
}

.prize-tracks .header2 {
    color: var(--brown);
}

.header3 {
    font-family: "ABCMaxiRoundVariable";
    font-size: 40px;
}

.text {
    font-family: "ABCMaxiRoundVariable";
    font-size: 35px;
    text-align: center;
}

.landingPage {
    display: flex;
    flex-direction: row;
    background-color: var(--brown);
    text-align: right;
    margin-bottom: 0;
    min-height: 100vh;
}
.landingPage-pic {
    width: 50em;
    /* width: 100%; */
    height: auto;
    padding-left: 1em;
}
.landingPage-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.landingPage-text {
    font-family: "DM_Sans-Regular";
    color: var(--orange);
    font-size: 40px;
    margin-bottom: 0px;
    padding-right: 5%;
    padding-bottom: 5%;
}

.important-info {
    background-color: var(--lightBrown);
    margin-bottom: 0;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.important-info-text {
    font-family: "DM_Sans-Regular";
    color: var(--beige);
    font-size: 25px;
    margin-bottom: 0px;
    
    padding-bottom: 5%;
    /* text-align: left; */
}

.sponsors {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--beige);
    margin-bottom: 0;
    text-align: center;
    padding-top: 2.5em;
    padding-bottom: 2.5em;
}
.sponsor-subheader {
    font-family: "ABCMaxiRoundVariable";
    color: var(--lightBrown);
    font-size: 30px;
}
.sponsor-text {
    font-family: "DM_Sans-Regular";
    color: var(--brown);
    font-size: 20px;
    margin-bottom: 0px;
    text-align: center;
}
.sponsor-link {
    color: var(--lightBrown);
}
.sponsor-link:hover {
    color: var(--lightBrown);
}

.prize-tracks {
    background-color: var(--orange);
    padding-top: 2.5em;
    padding-bottom: 2.5em;
}
.prizes {
    display: flex;
    /* flex-direction: row; */
    /* justify-content: center; */
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* padding-left: 10em;
    padding-right: 10em; */
}
/* .prize-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 50%;
} */
.prize-block {
    max-width: 50%;
    margin-bottom: 1em;
    margin-left: 2em;
    margin-right: 2em;
    text-align: center;
}
.prize-subheader {
    font-family: "ABCMaxiRoundVariable";
    color: var(--brown);
    font-size: 30px;
    margin-bottom: 0px;
}
.prize-text {
    font-family: "DM_Sans-Regular";
    color: var(--lightBrown);
    font-size: 20px;
    margin-bottom: 0px;
}

hr {
    background-color: var(--beige);
    width: 70%;
    height: 2px;
}

.buttons {
    padding-bottom: 2.5em;
}
.buttonLink  {
    background-color: var(--lightBrown); 
    border: 2px solid var(--beige);
    border-radius: 20px;
    color: var(--beige);
    padding: 6px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: "DM_Sans-Regular";
    font-size: 20px;
    margin-top: 2%;
    margin-right: 1%;
    margin-left: 1%;
  }
.buttonLink:hover {
    text-decoration: underline;
    color: var(--beige);
}

.flex {
    display: flex;
    flex-wrap: wrap;
    /* width: 90%; */
    justify-content: center;
    align-items: center;
}

.child {
    max-width: 40%;
    margin-left: 2em;
    margin-right: 2em;
}

@media screen and (max-width: 1028px) {
    .landingPage {
        flex-direction: column;
        align-items: center;
        text-align: center;
        min-height: 0;
        padding-right: 1em;
        padding-left: 1em;
    }

    .landingPage-pic {
        padding: 0;
    }
    
    .landingPage-title {
        margin-bottom: 3em;
    }

    .landingPage-text {
        padding: 0;
    }

    h1 {
        padding-right: 0;
    }
}

@media screen and (max-width: 375px) {
    .child {
        width: 100%;
    }
}